* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box; }

body {
  padding: 0 15px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #242424; }

img {
  width: 100%; }

.grid {
  display: grid; }

.wrapper {
  width: 100%; }

#header {
  border-bottom: 1px solid #ebeff4;
  height: 70px; }

#header .container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: 5px;
  height: inherit; }

.brand {
  align-items: center;
  display: flex;
  height: inherit;
  padding: 0 5px; }

.brand img {
  max-width: 50px; }

.form {
  align-items: center;
  display: grid;
  grid-template-columns: auto 50px; }

.form input {
  border: none;
  color: #aaaaaa;
  font-size: 1.5rem;
  font-weight: 400;
  height: 60px;
  width: 100%; }

.form .submit {
  text-align: center;
  background: transparent;
  border: none;
  color: #ccc;
  display: block;
  font-size: 1.3rem;
  justify-content: center;
  transform: rotate(90deg);
  width: 100%; }

main {
  margin-bottom: 80px; }

.box-articles {
  grid-template-rows: minmax(40px, auto) auto 40px; }

.title {
  align-items: center;
  display: grid;
  grid-template-columns: auto 40px;
  margin: 30px 0; }

.title__text {
  color: #2e3136;
  font-size: 1.1rem;
  font-weight: 400; }

.title__link {
  color: #fbbc05;
  display: inline-block;
  text-align: center;
  width: 100%; }

.articles article {
  margin-bottom: 30px; }

.articles article img {
  border-radius: 3px; }

.article__title {
  color: #323841;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
  display: block;
  margin: 5px 0 0 0; }

.article__newspapper {
  color: #34a853;
  font-size: .85rem;
  font-weight: 400; }

.article__time {
  color: #c2c2c3; }

.article__excerpt {
  color: #75797f;
  font-size: .95rem;
  font-weight: 400;
  line-height: 21px;
  margin-top: 3px; }

.see-more {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.see-more__link {
  color: #4285f4;
  font-size: 1rem; }

.see-more__faces {
  color: #b5b9bf;
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
  margin-right: 10px;
  display: none; }

@media screen and (min-width: 350px) {
  .see-more__faces {
    display: block; } }

.see-more__faces--happy {
  font-size: 1rem;
  color: #34a853;
  margin: 5px 3px 0; }

.see-more__faces--sad {
  font-size: 1rem;
  color: #ea4335; }

footer {
  align-items: center;
  border-top: 1px solid #ebeff4;
  color: #ccc;
  display: flex;
  font-size: .85rem;
  height: 50px;
  justify-content: center;
  margin-top: 150px; }

@media (min-width: 768px) {
  .title {
    margin: 0; }
  .title__text {
    font-size: 1.5rem;
    margin: 0; }
  #header {
    height: 130px; }
  .container {
    max-width: 1140px;
    margin: 0 auto; }
  main .container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%; }
  .box-articles {
    grid-template-rows: minmax(24px, 110px) auto 40px; }
  .articles article {
    margin-bottom: 20px; }
  .articles article.has-photo a {
    display: grid;
    grid-template-columns: 135px auto; }
  .articles article a:hover {
    text-decoration: none; }
  .article__wrap {
    padding: 0 15px; }
  footer {
    position: absolute;
    width: 100%; } }
